<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<img id="img1" src="\assets\images\image1.png" width= "500px" height= " 700px">
    <div id= "b_design">
    <h2 style="padding-left: 350px; padding-top: 20px;"><i><span style="font-family:'Courier New', Courier, monospace; color:olivedrab">About Me</span></i></h2>
     
      <div style="padding: 40px;">
         <p > My name is amanpreet kaur. I am enrolled in software Engineering Technology-AI.
          </p>
<br><br>
      <div  style="padding-left: 50px;  width: 400px; border: 3px solid black; padding: 10px; margin: 10px;">
        <table>
           <tr>
              <td>Status:</td>
              <td>  Student</td>
            </tr>
            <tr></tr>
            <tr>
              <td>College:</td>
              <td>  Centennial College</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Email:</td>
              <td>  amanpreetkaur15112003@gmail.com</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Program:</td>
              <td>  Software Engineering Technology - AI</td>
            </tr>
            
            <tr></tr>
            <tr>
              <td>Phone:</td>
              <td>  (345) 4343 2344</td>
            </tr>
            
          
        </table>
      </div>
      <br><br><br>
   <h6><u> Download Resume Here</u></h6>
   
   </div>
  
   <div id="name" class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded nameDiv">
    <h2 >Amanpreet Kaur</h2>
  </div>
   <footer style="padding-left: 10%; position: absolute;left:10px;bottom:10px; ">Copyright &copy Amanpreet Kaur-301215223 - Portfolio </footer>
    

<%- include partials/footer.ejs %>