<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<div > 
  <h1 style="padding-left: 550px;" ><span style="font-family:'Courier New', Courier, monospace; color:olivedrab"><i>Portfolio Website</i></span></h1>
</div>
<div id= "b_design">
<h3><u>Welcome</u></h3>
<br>
<p>Hello, My name is Amanpreet Kaur. Welcome to my website. 
  <a href ="about" alt ="About Me">Click Here</a> 
  <a href ="mycontacts" alt ="About Me">#</a>.
  

</p>
<br><br><br>
<h3><u>Mission Statement</u></h3>
<br>
<p>

</p>
</div>




<footer style=" padding-left: 10%;position: absolute;left:10px;bottom:10px;">Copyright &copy Amanpreet Kaur-301215223</footer>

<%- include partials/footer.ejs %>





